.container {
  width: 500px;
  position: relative;
}

.input {
  outline: none;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 4px;
}

.age {
  width: 150px;
}

.error {
  color: #a22a2a;
  text-align: end;
  height: 15px;
  font: 13px sans-serif;
  margin: 2px 0 5px;
}

.age .error {
  text-align: start;
  height: 22px;
}

.strength {
  position: absolute;
  font: 13px sans-serif;
}

.weak {
 border: 1px solid #a22a2a;
}

.medium {
  border: 1px solid #eccd08;
}

.strong {
  border: 1px solid #006600;
}

.strength.weak {
  border: none;
  color: #a22a2a;
}

.strength.medium {
  border: none;
  color: #eccd08;
}

.strength.strong{
  border: none;
  color: #006600;
}
