.header {
  font-weight: 600;
  padding: 0 30px;
  margin-bottom: 10px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
