.searchContainer {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
}

.searchInput {
  height: 100%;
  width: 250px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 2px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(#000, #00b5cc);
  background-clip: content-box, border-box;
  border-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;
}

.searchInput:hover {
  border-color: #00b5cc;
}

.searchInput:focus {
  border-color: #00b5cc;
  box-shadow: 0 0 5px rgba(178, 223, 39, 0.5);
}

.searchButton {
  height: 100%;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 5px 10px;
  background-image: linear-gradient(
    rgba(57, 243, 6, 0.8),
    rgba(48, 110, 11, 0.8)
  );
  color: white;
  text-align: center;
}

.searchButton:hover {
  box-shadow: 0 10px 10px rgba(91, 114, 18, 0.5) inset;
}
