.errorButton {
  letter-spacing: 1px;
  font-size: 20px;
  padding: 5px 10px;
  background-image: linear-gradient(
    rgba(243, 6, 49, 0.8),
    rgba(66, 3, 14, 0.8)
  );
  color: white;
  text-align: center;
}

.errorButton:hover {
  box-shadow: 0 10px 10px rgb(72, 19, 19) inset;
}
