* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Vollkorn SC', serif;
  letter-spacing: 1px;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #00040b;
  color: #e5e2e2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Vollkorn SC', serif;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (max-width: 950px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  body {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}
