.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    height: 100%;
    cursor: pointer;
    font-family: 'Vollkorn SC', serif;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 5px 10px;
    background-image: linear-gradient(
            rgba(224, 188, 9, 0.8),
            rgba(204, 95, 17, 0.8)
    );
    color: white;
    text-align: center;
}

.button:hover {
    box-shadow: 0 10px 10px rgba(121, 49, 4, 0.5) inset;
}
