.card-container {
  width: 280px;
}

.card-image {
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 280px;
}

.card-info {
  padding: 0 10px;
  border: 1px solid #d9d6d6;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
